@import url('/css/variable.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

  
  body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
  }

  body.dark-theme {
    --primary-color: #a653e2; /* Azul mais escuro */
    --background-color: #222222; /* Fundo escuro */
    --text-color: #ffffff; /* Texto branco */
    --neutral-color: #555555; /* Cinza escuro */
    --black-inblack: #bdb2b2;
    --intro-back: #3e4044;
}

  
  
  header {
    margin: auto;
    position: fixed;
    padding: 10px 20px;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1920px;
    background-color: #FFFFFF;
   
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  
  .logo h1 {
    font-size: 44px;
    
    text-decoration: none;
  }
  .logo h1 a{
    text-decoration: none;
    color: var(--primary-color);
  }
  
  
  
  #menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  #menu a{
    text-decoration: none;
    
  }
  
  #menu li {
    margin-right: 20px;
    font-size: 18px;
    color:#333333 ;
    cursor: pointer;
  }
  
  #menu li img {
    vertical-align: middle;
  }
  
  #menu li:hover {
    color: var(--primary-color);
  }
  

  /* Estilos para o toggle-switch */
.toggle-switch {
    display: flex;
    gap: 5px;
}

.toggle-switch input[type="checkbox"] {
    display: none;
}

.toggle-switch label {
    width: 40px;
    height: 20px;
    background-color: #333333;
    display: block;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.toggle-switch label::after {
    content: '';
    width: 16px;
    height: 16px;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: 0.3s;
}

.toggle-switch input:checked + label::after {
    left: 22px;
}

/* Quando o tema escuro estiver ativo */
input[type="checkbox"]:checked ~ body {
    --primary-color: #1e90ff; /* Azul mais escuro */
    --background-color: #222222; /* Fundo escuro */
    --text-color: #ffffff; /* Texto branco */
    --neutral-color: #555555; /* Cinza escuro */
}



  /*response menu*/

/* Estilos para o menu hamburguer */
.hamburger {
    display: none; /* Ocultar por padrão */
    font-size: 28px;
    color: var(--primary-color);
    cursor: pointer;
  }

  
  @media (max-width: 725px) {
    #menu {
      display: none; /* Oculta o menu normal */
      flex-direction: column; /* Coloca os itens em coluna */
      margin: auto;
      position: absolute; /* Permite que o menu flutue */
      top: 70px; /* Distância do topo do nav */
      left: 0;
      right: 0;
      z-index: 1000; /* Para ficar acima de outros elementos */
    }
  
    #menu.active {
        display: flex; /* Exibe o menu quando ativado */
        gap: 25px;
        background-color:white;
        padding: 20px; /* Adiciona algum espaço ao redor dos itens do menu */
        z-index: 1000; /* Para ficar acima de outros elementos */
    }
  
    .hamburger {
      display: block; /* Exibe o botão hamburguer */
    }
    /* Adiciona estilo aos links no menu lateral */
#menu li {
    margin: 10px 0; /* Adiciona espaço vertical entre os itens */
    font-size: 18px; /* Tamanho da fonte dos itens */
    cursor: pointer;
  }
  }
  




  /*response menu*/






  .toggle-switch button{
    background: none;
    border: none;
    cursor: pointer;
  }

  .tagsLanguage {
    margin-right: 25px;
  }










































  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20%;
    max-width: 1920px;
    margin: auto;
    height: 100vh;
  }
  
.bigMainName {
    font-size: 64px;
    width: 150px;
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid;
  }
  
  #descricao {
    font-size: 18px;
    color: var(--text-color);
    padding: 20px;
  }
  
  .link {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
  }
  
  .link:hover {
    text-decoration: underline;
  }
.redesSocials{
    width: 100%;
   
}
  
  .redesSocials .redesSocials-value{
    display: flex;
    justify-content: space-around;
 
    
  }
  .redesSocials a {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--text-color);
  }
  .redesSocials a img{
   width: 40px;
  }
  
  /* Animation for typing effect */
  @keyframes typing {
    from { width: 0; }
    to { width: 462px; }
  }
  
  @keyframes blink {
    from, to { border-color: transparent; }
    50% { border-color: var(--primary-color); }
  }
  
  .bigMainName{
    animation: typing 2s steps(25) forwards, blink 0.75s infinite;
  }



/*responsive*/

@media (min-width: 1100px) {
    .redesSocials{
        width: 80%;
       
    }
    

}
@media (max-width: 750px) {

      .corrigeSize{
        width: 100px;
      }

}
@media (max-width: 800px) {

    .redesSocials a {
        font-size: 12px;
      }
      .redesSocials a img{
       width: 30px;
      }

      .corrigeSize{
        width: 100px;
      }

}


@media (max-width: 500px) {

    .bigMainName {
        font-size: 44px;
        color: var(--primary-color);
        font-weight: bold;
        margin-bottom: 20px;
        white-space: nowrap;
        overflow: hidden;
        border-right: 4px solid;
      }

      #descricao {
        font-size: 12px;
      }


      .redesSocials a {
        font-size: 10px;
      }
      .redesSocials a img{
       width: 20px;
      }


      .corrigeSize{
        margin-left: 20px;
      }


}


/*responsive*/
  
































































  .terminal {
    background-color: var( --intro-back);
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 1);
    max-width: 1920px;
}

.terminal p {
    margin: 35px 0;
    color: var(--background-color);
}

.variable {
    color: #ffd88e ;
}
.variableDifere{
    font-weight: 600;
    color: var(--primary-color);
}
.variableDifere1{
    color: #ffc963;
}

.value {
    color:#d3d3d3;
}

.value a {
    color:#d3d3d3;
    text-decoration: none;
    text-decoration: underline;
}
/*
.variable {
    color: #8fbcbb;
}

.value {
    color: #a3be8c;
}
*/
a:hover {
    opacity: 0.7;
}



/*responsive*/


@media (max-width: 500px) {

 
    .terminal p {
        font-size:12px ;
    }


}


/*responsive*/




































.project {
    max-width: 1920px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.project h2 {
    margin: 150px 0px 100px 0px;
    font-size: 2rem;
    color: var(--primary-color);
}

.project-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.project-image img {
    height: auto;
}

.project-info {
    margin-left: 20px;
    text-align: left;
   
}

.project-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.project-info p {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 15px;
}

.tags {
    margin: 40px 0px 50px 0px;
}

.tags span {
    background-color: var(--text-color);
    color: var(--neutral-color);
    border-radius: 4px;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 0.9rem;
}

.buttons {
    margin-top: 10px;
    
}
.buttons a img{
   filter: invert(100%);
}

.buttons a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    
}

.demo-btn {
    background-color: var(--neutral-color);
    color: var(--text-color);
  
}

.code-btn {
    background-color: var(--text-color);
    color: var(--neutral-color);
}


/*responsive*/

@media (max-width: 1120px) {

    .project-image img {
        height: 250px;
    }

}


@media (max-width: 900px) {

    .project-image img {
        margin-bottom: 50px;
    }
.project-content {
    flex-direction: column;
}
}

@media (max-width: 500px) {

    .project-image img {
        height: 200px;
    }

}


/*responsive*/

































.experience {
    margin: auto;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
}

.experience h2 {
    margin: 150px 0px 100px 0px;
    text-align: center;
    font-size: 2rem;
    color: var(--primary-color);
}

.experience-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.companies {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.companies button {
    background-color: var(--text-color);
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 3px solid transparent;
    cursor: pointer;
    font-size: 1rem;
    color: var(--background-color);
    
}

.companies button:hover {
   opacity: 0.7;
   
}

.companies button.active {
    border-left-color: var(--primary-color);
    background-color: var(--text-color);
}

#company-info {
    text-align: left;
    width: 600px;
}

.company {
    display: none;
}

.company.active {
    display: block;
}

.company h3 {
    font-size: 1.5rem;
    color: var(--black-inblack);
    
}

.company .date {
    float: right;
    font-size: 1rem;
    color: var( --neutral-color);
}

.company a {
    color: var(--primary-color);
    text-decoration: none;

}

.company p, .company ul {
    margin: 10px 0;
    font-size: 18px;
    color: var(--text-color);
}

ul {
    list-style-type: none;
    margin-left: 200px;
}




ul span{
    color: var(--black-inblack);
    text-transform: uppercase;
}
.colorspan{
    color: var(--black-inblack);
}

/*responsive*/

@media (max-width: 750px) {
    

    .company p, .company ul {
       font-size: 12px;
    }
    
    
}

/*responsive*/









































footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px 0px 50px 0px ;
    color: var(--text-color);
    font-weight: 600;
}