



:root {
    /* Cor primária */
    --primary-color: #6495ed; /* Azul Claro */
    
    
    /* Cor de fundo */
    --background-color: #f5f5f5; /* Branco Suave */
    
    /* Cor de texto */
    --text-color: #333333; /* Cinza Escuro */
    
    
    /* Cor neutra */
    --neutral-color: #d3d3d3; /* Cinza Claro */
}
